:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  

  color-scheme: light dark;
  color: #F67280(255, 255, 255, 0.87);
  background-color: #85E3FF;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2 {
  font-size: 3.5em;
  line-height: 1.1;
}

p {
  color:#B28DFF;
  font-size: 2em ;
  font-weight: bold
}

ul {
  color: #5b0442;
  font-size: 1.5em
}

.Selected-pup{
  color: #BFFCC6
}